[submodule "artGallary-laravel"]
	path = artGallary-laravel
	url = https://github.com/Bassem272/artGallary-laravel
[submodule "newArtGallery-angular"]
	path = newArtGallery-angular
	url = https://github.com/Bassem272/newArtGallery-angular
